<%= form_for([@game, @ranking]) do |f| %>

  <% if @ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ranking.errors.count, "error") %> prohibited this ranking from being saved:</h2>

      <ul>
        <% @ranking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="form-group">
    <%# f.label :game, "The game" %><br />
    <%# f.collection_select(:game_id, Game.all, :id, :full_name, include_blank: true) %>
  </div> -->
  <!-- <%#f.hidden_field :task_id, :value => task.id%> -->
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit(class: "btn btn-primary") %>
  </div>

<% end %>
