<h1><%= @ranking.name %></h1>
<p><%= @ranking.description %></p>

<h2>The ranking configuration</h2>


<table class="table">
  <thead>
    <tr>
      <th>Ranking config ID</th>
      <th>Ranking ID</th>
      <th>Is default?</th>
      <th>Starting ranking</th>
      <th>Max dist. between players</th>
      <th>Min points to gain</th>
      <th>Disproportion factor</th>
      <th>Unexpected result bonus</th>
      <th>Hours to confirm</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @config.id %></td>
      <td><%= @ranking.id %></td>
      <td><%= @config.is_default? %></td>
      <td><%= @config.default_score %></td>
      <td><%= @config.max_distance_between_players %></td>
      <td><%= @config.min_points_to_gain %></td>
      <td><%= @config.disproportion_factor %></td>
      <td><%= @config.unexpected_result_bonus %></td>
      <td><%= @config.hours_to_confirm %></td>
    </tr>
  </tbody>
</table>

<% if user_signed_in? %>
  <% if @ranking.ranking_config %>
    <%= link_to 'Edit the ranking ranking config', edit_ranking_ranking_config_path(@ranking, @ranking.ranking_config), class: "btn btn-danger" %>
  <% else %>
    <%= link_to 'Create a new ranking ranking config', new_ranking_ranking_config_path(@ranking), class: "btn btn-success" %>
  <% end %>
<% end %>

<%= render partial: "ranked_positions_index", locals: {ranked_positions: @ranked_positions} %>
