<div class="nested-fields">
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :score_factor %>
    <%= f.number_field :score_factor %>
  </div>
  <%= link_to_remove_association "remove possible result", f %>
</div>
