<h1>Games</h1>


<table class="table">
  <thead>
    <tr>
      <th>Game id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Rankings</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= link_to game.full_name, game %></td>
        <td><%= truncate(game.description, length: 500, separator: ' ') %></td>
        <td>
          <% number_of_rankings = game.rankings.count %>
          <% if number_of_rankings > 0 %>
            <%= link_to number_of_rankings, game_rankings_path(game) %>
          <% else %>
            0
          <% end %>
        </td>
      <td><%= link_to 'Create a new ranking', new_game_ranking_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'Create a new game', new_game_path, class: "btn btn-danger" %>
<% end %>
