<%= form_for([@scenario, @report]) do |f| %>

  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% @report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= f.label :scenario %><br />
    <% if @report.scenario %>
      <%= f.collection_select(:scenario_id, @report.scenario.ranking.scenarios, :id, :full_name, include_blank: true) %>
    <% end %>

  </div>

  <div class="form-group">
    <%= f.label :reporter, 'Me' %><br />
    <%= f.collection_select(:reporter_id, Profile.where(user_id: current_user.id), :id, :name) %>
  </div>

  <div class="form-group">
    <%= f.label :reporters_faction, 'My faction' %><br />
    <%= f.collection_select(:reporters_faction_id, @report.scenario.factions, :id, :full_name, include_blank: true) %>
  </div>

  <div class="form-group">
    <%= f.label :confirmers_name, 'My opponent' %><br />
    <%= f.text_field :confirmers_name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :confirmers_faction, "My opponent's faction" %><br />
    <%= f.collection_select(:confirmers_faction_id, @report.scenario.factions, :id, :full_name, include_blank: true) %>
  </div>

  <div class="form-group">
    <%= f.label :result %><br />
    <% if @report.scenario.ranking.game %>
      <%= f.collection_select(:result_id, @report.scenario.ranking.game.possible_results, :id, :description, include_blank: true) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit(class: "btn btn-primary") %>
  </div>

<% end %>
