<h1><%= @header %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Report id</th>
      <th>Game</th>
      <th>Ladder</th>
      <th>Scenario</th>
      <th>Who</th>
      <th>Winner</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.scenario.ladder.game %></td>
        <td><%= report.scenario.ladder %></td>
        <td><%= report.scenario %></td>
        <td><%= report.reporter %> (<%= report.reporters_faction %>) vs <%= report.opponent %> (<%= report.opponents_faction %>)</td>
        <td>
          <% if report.result < 0 %>
            <%= report.opponent %> (<%= report.opponents_faction %>)
          <% elsif report.result > 0 %>
            <%= report.reporter %> (<%= report.reporters_faction %>)
          <% else %>
            draw
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
