<div class="row well well-sm">
  <% if Rails.env.development? %>
  <p>Debug:</p>
  <p>
    current_user.id:
    <% if current_user %>
    <%= current_user.id %>
    <% else %>
    nil (unlogged)
    <% end %>
  </p>
  <p>params: <%= p params %></p>
  <p>
    User roles:
    <% if current_user %>
    <% current_user.roles.each_with_index do |role, index| %>
    <%= p role.name %><% if current_user.roles[index+1].nil?%>.<% else %>,<% end %>
    <% end %>
    <% else %>
    nil (unlogged)
    <% end %>
  </p>
  <% end %>
  <div role="presentation" class= "text-center col-sm-6">
    <%= link_to 'About', pages_about_path %>
  </div>
  <div role="presentation" class= "text-center col-sm-6">
    <%= link_to 'Contact', '#' %>
  </div>
  <div role="presentation" class= "col-sm-12">
    <p class="bg-danger lead text-center">The site is in alpha phase. All created acounts will be delete before betha phase.</p>
    <p class="text-center">2016, Multiplayer Gaming Leagues</p>
  </div>

</div>
