<!DOCTYPE html>
<html>
<head>
  <title>Ranking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if user_signed_in? %>
    <%= "Hello, User-#{current_user.id} !"  %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'mock-button'  %>
    or
    <%= link_to 'Edit your user', destroy_user_session_path, class: 'mock-button'  %>
    Your current profile is:
    <%= @current_profile || 'no-profile'  %>
  <% else %>
    Hello, Guest!
    <%= link_to 'Log in', new_user_session_path, class: 'mock-button' %>
    or
    <%= link_to 'Join', new_user_registration_path, class: 'mock-button' %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>

</html>
